@charset "UTF-8";

/* =============== T Y P O G R A P H Y ================ */

/* arimo-regular - latin */
@font-face {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 400;
  src: local('Arimo Regular'), local('Arimo-Regular'),
       url('./fonts/arimo-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
}

/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
       url('./fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
}

html {font-size: 16px}

body {
	font-family: Arimo, Helvetica, Arial, sans-serif;
	color: white;
	font-weight: lighter;
	-webkit-font-smoothing: antialiased;
}

nav a {
	font-size: 1.5em;
	font-family: Roboto, Helvetica, Arial, sans-serif;
	text-decoration: none;
	transition: all 0.2s ease;
}

nav a:hover {
	color: orange;
}

p {
	font-size: 1.3em;
}

/*  ============= A R C H I T E C T U R E ============ */

body {
	background-color: #0c0c0c;
	margin: 0 0 0 0;
	height: 100%;
	width: 100%;
}

nav {
	width: 80vw;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 2em 10vw 1em;
}

nav a {
	color: #e4e4e4a6;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	padding: 1em;
	display: inline;
}

main {
	display: flex;
	align-items: center;
	/*flex-direction: column;*/
	justify-content: center;
}

section {
	max-width: 800px;
	width: 90%;
}

a {
  text-decoration: none;
}

p {
	margin: 0.5em 0;
}

p a {
  color: orange;
  transition: all 0.2s ease;
}

p a:hover {
  color: #e4e4e4a6;
}

img {
	width: 100%;
	margin: 0.5em 0;
}

/*  ============================= M E D I A Q U E R I E S ============================= */

@media only screen and (max-width: 700px) {

	nav a {
		font-size: 1em;
	}

	nav {
		width: 100vw;
		padding: 1em 0em;
	}

	li {
		padding: 0 0.5em;
	}

	p {
		font-size: 1em;
	}


}