@charset "UTF-8";

/* =============== T Y P O G R A P H Y ================ */

html {font-size: 16px}

body {
	font-family: Arimo, Helvetica, Arial, sans-serif;
	color: white;
	font-weight: lighter;
	-webkit-font-smoothing: antialiased;
	cursor: url(../icon/bug-min.png), auto;
}

h1 {
	font-family: Orbitron, Helvetica, Arial, sans-serif;
	font-size: 2.5em;
}

h1 a {
	color: black;
	transition: all 0.2s ease;
	-webkit-text-stroke: 0.1px orange;
	text-stroke: 0.1px orange;
	margin-right: -10px;
	letter-spacing: 10px;
}

h1 a:hover {
	color: orange;
	text-shadow: 0 0 10px orange, 0 0 20px orange;
	cursor: url(../icon/bug-min.png), auto;
}

nav a {
	font-size: 1.563em;
	font-family: Roboto, Helvetica, Arial, sans-serif;
	text-decoration: none;
	transition: all 0.2s ease;
	cursor: url(../icon/bug-min.png), auto;
}

nav a {
	color: #a7a7a7;
}

nav a:hover {
	color: orange;
	text-shadow: 0 0 10px orange, 0 0 10px orange;
	cursor: url(../icon/bug-min.png), auto;
}

p {
	font-size: 1.25em;
}



/*  ========================= A R C H I T E C T U R E ====================== */



/* ======= B O D Y ======= */
body {
	background-color: #0c0c0c;
	margin: 0 0 0 0;
	height: 100%;
	width: 100%;
}


/* ======= N A V ======= */


header {
	text-align: center;
	padding-top: 2vh;
}

h1 {
	margin: 0;
	padding: 5px;
	display: inline-block;
}

nav {
	width: 80vw;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 0.5em 10vw;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav li {
	padding: 1em;
	display: inline;
}


/* ======= P A G E  C O N T E N T ======= */


main {
	display: flex;
	align-items: center;
	/*flex-direction: column;*/
	justify-content: center;
}

section {
	max-width: 800px;
	width: 90%;
}

a {
  text-decoration: none;
}

p a {
  color: orange;
  transition: all 0.2s ease;
}

p a:hover {
  color: #a7a7a7;
  /*text-shadow: 0 0 10px #a7a7a7, 0 0 30px #a7a7a7;*/
  cursor: url(../icon/bug-min.png), auto;
}

img {
	width: 100%;
	margin: 0.5em 0;
}


/* ======= F O O T E R ======= */

#footer {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin: 30px 0;
}

.footer-icons li {
	margin: 0 10px;
	width: 1.8em;
    float: left;
}

.footer-icons a {
	fill: #a7a7a7;
	transition: all 0.2s ease;
}

.footer-icons a:hover {
	fill: orange;
	filter: drop-shadow(0 0 7px orange) drop-shadow(0 0 10px orange);
	cursor: url(../icon/bug-min.png), auto;
}

/*  ============================= M E D I A Q U E R I E S ============================= */

@media only screen and (max-width: 700px) {

	nav a {
		font-size: 1.25em;
	}

	h1 {
		font-size: 1.563em;
	}

	nav {
		width: 100vw;
		padding: 1em 0em;
	}

	p {
		font-size: 1em;
	}

}

@media only screen and (max-width: 360px) {

	nav a {
		font-size: 1em;
	}

}