@charset "UTF-8";

/* =============== T Y P O G R A P H Y ================ */

html {
	font-size: 16px;
}

body {
	font-family: Arimo, Helvetica, Arial, sans-serif;
	color: white;
	font-weight: lighter;
	-webkit-font-smoothing: antialiased;
}

h1 {
	font-family: Orbitron, Helvetica, Arial, sans-serif;
	font-size: 2.441em;
}

h1 a {
	color: black;
	transition: all 0.7s ease;
	text-shadow:
	-1px -1px 0 orange,
    1px -1px 0 orange,
    -1px 1px 0 orange,
    1px 1px 0 orange; 
	margin-right: -10px;
	letter-spacing: 10px;
}

h1 a:hover {
	color: orange;
	text-shadow: 0 0 10px orange, 0 0 20px orange;
}

nav a {
	font-size: 1.563em;
	font-family: Roboto, Helvetica, Arial, sans-serif;
	text-decoration: none;
	transition: all 0.2s ease;
}

nav a {
	color: #a7a7a7;
}

nav a:hover {
	color: orange;
	text-shadow: 0 0 5px orange;
}

nav a.selected {
	color: orange;
}

h2 {
	font-size: 1.563em;
	font-family: Roboto, Helvetica, Arial, sans-serif;
}

h3 {
	font-family: Arimo, Helvetica, Arial, sans-serif;
	font-size: 1.25em;
	font-weight: normal;
}

h4 {
	font-family: Arimo, Helvetica, Arial, sans-serif;
	font-size: 1.25em;
}

.project h2, h3, a {
	text-decoration: none;
	color: white;
	transition: all .2s ease;
}

p {
	font-size: 1.25em;
}

a {
  text-decoration: none;
}

p a {
  color: orange;
  transition: all 0.2s ease;
}

p a:hover {
  color: #a7a7a7;
}

/*  ========================= A R C H I T E C T U R E ====================== */

html{
	overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
	width: 0px;
	background: transparent;
}

body {
	background-color: #0c0c0c;
	margin: 0 0 0 0;
	height: 100%;
	width: 100%;
}


/* ======= N A V ======= */


header {
	text-align: center;
	padding-top: 2vh;
}

h1 {
	padding: 5px;
	display: inline;
}

nav {
	width: 80vw;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 0.7em 10vw 0px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav li {
	padding: 0px 1.5em;
	display: inline;
}


/* ======= P A G E  C O N T E N T ======= */


main {
	display: flex;
	align-items: center;
	justify-content: center;
}

section {
	max-width: 800px;
	width: 90%;
}

/* ======= P A G E  C O N T E N T ======= */

h2, h3 {
	margin: 0.4em 0;
}

.project {
	margin: 1.5em 0px 3em;
}

.project .scale {
	transition: all .3s ease;
}

.project:hover .scale {
	transform: scale(1.04);
}

.arrow::after {
	content:"→";
	margin-left: 7px;
	display: inline-block;
	transition: all .2s ease;
	color: #a7a7a7;
}

.project:hover .arrow::after {
	color: orange;
	margin-left: 16px;
}

img {
	width: 100%;
	margin: 1.3em 0 0;
}

.media {
	margin: 4em 0 0;
}

.many {
	margin-top: 1em;
}

figcaption {
	margin-top: 0.5em;
	opacity: 0.7;
	text-align: center;
}

hr {
	margin: 2em 0;
	opacity: 0.5;
}

.project ul {
	list-style-type: disc;
	list-style-position: inside;
	font-size: 1.25em;
}

.project ul a {
	color: orange;
	transition: all 0.2s ease;
}

.project ul a:hover {
	color: #a7a7a7;
}

/* ======= F O O T E R ======= */

#footer {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin: 1.5em 0;
}

.footer-icons li {
	margin: 0 10px;
	width: 1.8em;
    float: left;
}

.footer-icons a {
	fill: #a7a7a7;
	transition: all 0.2s ease;
}

.footer-icons a:hover {
	fill: orange;
	filter: drop-shadow(0 0 7px orange) drop-shadow(0 0 10px orange);
}

/*  ============================= M E D I A Q U E R I E S ============================= */

@media only screen and (max-width: 700px) {

	nav a {
		font-size: 1.25em;
		font-weight: 550;
	}

	h1 {
		font-size: 2em;
	}

	nav {
		width: 100vw;
		padding: 0.5em 0em 1em 0em;
	}

	nav li {
		padding: 0px 0.8em;
	}

	p {
		font-size: 1em;
	}

	.project ul {
		font-size: 1em;
	}

	section {
		margin-top: -17px;
	}

}
