---
---
<!DOCTYPE html>

<!-- 

"...escaping laterally toward each other, we might just find that everything we wanted is already here."

- Jenny Odell, 2019 

-->

<head>

<meta charset="UTF-8">
<title>{{page.title}}</title>
<meta name="description" content="I'm an artist and researcher, currently building and performing with custom musical interfaces.">
<meta name="keywords" content="raul altosaar, raul, art, artist, technology, performance, musical interface, music, stanford">

<!-- Twitter Cards -->

<meta name="twitter:card" content="summary">
<meta name="twitter:image" content="/assets/img/misc/rathumb.jpg">
<meta name="twitter:title" content="Raul Altosaar">
<meta name="twitter:description" content="I'm an artist and researcher, currently building and performing with custom musical interfaces.">
<meta name="twitter:creator" content="@raltosaar">

<!-- Google & Bing Verification -->

<meta name="msvalidate.01" content="11BCD42672A11F1C6E6D2F1053F746E4" />

<!-- Open Graph -->

<meta property="og:locale" content="en_US">
<meta property="og:title" content="Raul Altosaar">
<meta property="og:description" content="I'm an artist and researcher, currently building and performing with custom musical interfaces.">
<meta property="og:url" content="/">
<meta property="og:site_name" content="Raul Altosaar">
<meta property="og:image" content="/assets/img/misc/rathumb.jpg">

<!-- Responsive -->

<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta content="width=device-width" name="viewport">
<meta name="viewport" content="width=device-width, initial-scale=1"/>

<!-- Load fonts -->
<link href="https://fonts.googleapis.com/css?family=Arimo|Orbitron|Roboto&display=swap" rel="stylesheet">

<!-- Link CSS -->

<link rel="stylesheet" href="./assets/css/normalize.css">
<link rel="stylesheet" href="./assets/css/style.css">

<!-- Link favicons -->

<link rel="icon" type="image/png" href="assets/icon/favicon-32x32.png" sizes="32x32"/>
<link rel="icon" type="image/png" href="assets/icon/favicon-16x16.png" sizes="16x16"/>

<!-- load scripts -->

<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@12.0.0/dist/lazyload.min.js"></script>

<!-- highlight current page in nav -->

<script>
    $(function () {
        $('nav a').each(function () {
            if ($(this).prop('href') == window.location.href) {
                $(this).addClass('selected');
            }
        });
    });
</script>

</head>

<body>


	<header>
		<h1><a href="/"><i>raul altosaar</i></a></h1>
	</header>

	<nav>
			<ul>
				<!-- <li><a href="/about">about</a></li> -->
				<li><a href="/projects">projects</a></li>	
	    	<li><a href="/papers">papers</a></li>
	    	<!-- <li><a href="/seeds">seeds</a></li> -->
			</ul>
  	</nav>

  <main>
  	<section>
			{{ content }}
		</section>
	</main>

	{% include footer.html %}

<script>
    var lazyLoadInstance = new LazyLoad({
    elements_selector: ".lazy"
    // ... more custom settings?
});
</script>

</body>
</html>