<!DOCTYPE html>

<!-- 
insert poem or quote here -->

<head>

<meta charset="UTF-8">
<title>Raul Altosaar</title>
<meta name="description" content="I'm an artist and researcher, currently building and performing with custom musical interfaces.">
<meta name="keywords" content="raul altosaar, raul, art, artist, technology, performance, musical interface, music, stanford">

<!-- Twitter Cards -->

<meta name="twitter:card" content="summary">
<meta name="twitter:image" content="/assets/img/misc/rathumb.jpg">
<meta name="twitter:title" content="Raul Altosaar">
<meta name="twitter:description" content="I'm an artist and researcher, currently building and performing with custom musical interfaces.">
<meta name="twitter:creator" content="@raltosaar">

<!-- Google & Bing Verification -->

<meta name="msvalidate.01" content="11BCD42672A11F1C6E6D2F1053F746E4" />

<!-- Open Graph -->

<meta property="og:locale" content="en_US">
<meta property="og:title" content="Raul Altosaar">
<meta property="og:description" content="I'm an artist and researcher, currently building and performing with custom musical interfaces.">
<meta property="og:url" content="/">
<meta property="og:site_name" content="Raul Altosaar">
<meta property="og:image" content="/assets/img/misc/rathumb.jpg">

<!-- Responsive -->

<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta content="width=device-width" name="viewport">
<meta name="viewport" content="width=device-width, initial-scale=1"/>

<!-- Preload fonts -->

<link rel="preload" href="./assets/fonts/roboto-v20-latin-regular.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="./assets/fonts/arimo-v13-latin-regular.woff2" as="font" type="font/woff2" crossorigin>

<!-- Link CSS -->

<link rel="stylesheet" href="./assets/css/style.css">

<!-- Load Google Font (for now) -->

<link href="https://fonts.googleapis.com/css?family=Orbitron&display=swap" rel="stylesheet">

<!-- Link favicons -->

<link rel="icon" type="image/png" href="assets/favicon/favicon-32x32.png" sizes="32x32"/>
<link rel="icon" type="image/png" href="assets/favicon/favicon-16x16.png" sizes="16x16"/>

</head>

<body>


	<header>
		<h1><a href="/"><i>raul altosaar</i></a></h1>
	</header>

	<nav>
			<ul>
				<li><a href="/about">about</a></li>
				<li><a href="/projects">projects</a></li>	
	    		<li><a href="/papers">papers</a></li>
	    		<li><a href="/etc">etc.</a></li>
			</ul>
  	</nav>

  	<main>
  		<section>
			{{ content }}
		</section>
	</main>

</body>
</html>